@import "../../../../../util/color.scss";

.Post-Reply-Create {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  &-Box {
    width: 100%;
    min-height: 6.125rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: inherit;
    color: $black;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid $vvv-light-gray;
    background-color: $vvvv-light-gray;
    resize: none;
    transition: border ease 0.2s;
    margin-bottom: 1rem;
    overflow-y: hidden;

    &::placeholder {
      font-style: italic;
      transition: color ease 0.2s;
      color: $vv-light-gray;
    }

    &:focus {
      border: 1px solid $vv-light-gray;
      &::placeholder {
        color: $v-light-gray;
      }
    }
  }

  &-Wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    &-Button,
    &-Cancel {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      padding: 0.4rem 1rem;
      font-weight: normal;
      font-size: 1rem;
      transition: all ease 0.2s;
      margin-right: 0.6rem;
      font-family: inherit;
    }

    &-Button {
      background-color: $black;
      color: $white;

      &:hover {
        background-color: $light-black;
      }
    }

    &-Cancel {
      background-color: $v-light-gray;
      color: $white;

      &:hover {
        background-color: $vv-light-gray;
      }
    }
  }
}
