@import "../../util/color.scss";

.Main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-Wrapper {
    width: 100%;
    display: flex;
    padding: 6rem 0 4rem 0;
    justify-content: center;
    position: relative;

    &-Container {
      width: 100%;
      max-width: 960px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 900px) {
        padding-top: 1rem;
      }

      &-List {
        display: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 1rem;

        @media screen and (max-width: 900px) {
          display: flex;
        }
      }
    }
  }
}
