.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  &-wrap {
    width: 100%;
    display: flex;
    padding: 6rem 0 4rem 0;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 900px) {
      padding-top: 4rem;
    }

    &-container {
      width: 100%;
      max-width: 960px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 900px) {
        padding-top: 1rem;
      }

      &-categories {
        display: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 1rem;

        @media screen and (max-width: 900px) {
          display: flex;
        }
      }
    }
  }
}
