.Main {
  display: flex;
  justify-content: center;
  padding-top: 5rem;

  @media screen and (max-width: 1537px) {
    padding-top: 7rem;
  }

  &-Container {
    width: 100%;
    max-width: 1700px;
    display: flex;
  }
}
