.handle-preview {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 3rem 2rem 1rem;
  background-color: var(--theme-main-background);
  border-left: 1px solid var(--theme-border);

  @media screen and (max-width: 860px) {
    display: none;
  }

  &-title {
    word-break: break-all;
    font-weight: bold;
    font-size: 2.225rem;
    color: var(--theme-text-scale-0);
    margin-bottom: 2.5rem;
  }
}
