.Post-Comment {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-Container {
    display: flex;
    flex-direction: column;

    &-Count {
      color: var(--theme-main);
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-Input {
      display: flex;
      flex-direction: column;

      &-Box {
        width: 100%;
        min-height: 6.125rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: normal;
        font-family: inherit;
        color: var(--theme-main);
        outline: none;
        border-radius: 0.2rem;
        border: 1px solid var(--theme-border);
        background-color: var(--theme-background-scale-2);
        resize: none;
        transition: border ease 0.2s;
        margin-bottom: 1rem;
        overflow-y: hidden;

        &::placeholder {
          font-style: italic;
          transition: color ease 0.2s;
          color: var(--theme-background-scale-0);
        }

        &:focus {
          border: 1px solid var(--theme-background-scale-0);
          &::placeholder {
            color: var(--theme-text-scale-4);
          }
        }
      }

      &-Wrapper {
        width: 100%;

        &-Button {
          cursor: pointer;
          outline: none;
          border: none;
          border-radius: 0.3rem;
          padding: 0.4rem 1rem;
          background-color: var(--theme-main);
          color: var(--theme-main-background);
          font-weight: normal;
          font-size: 1rem;
          transition: all ease 0.2s;
          font-family: inherit;

          &:hover {
            background-color: var(--theme-text-scale-1);
          }
        }
      }
    }
  }

  &-List {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}
