@import "../../../util/color.scss";

.Post-Comment {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-Container {
    display: flex;
    flex-direction: column;

    &-Count {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &-Input {
      display: flex;
      flex-direction: column;

      &-Box {
        width: 100%;
        min-height: 6.125rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: MalgunGothic;
        color: $black;
        outline: none;
        border-radius: 0.2rem;
        border: 1px solid $vvv-light-gray;
        background-color: $vvvvv-light-gray;
        resize: none;
        transition: border ease 0.2s;
        margin-bottom: 1rem;

        &::placeholder {
          transition: color ease 0.2s;
          color: $vv-light-gray;
        }

        &:focus {
          border: 1px solid $v-light-gray;
          &::placeholder {
            color: $v-light-gray;
          }
        }
      }

      &-Wrapper {
        width: 100%;

        &-Button {
          cursor: pointer;
          outline: none;
          border: none;
          border-radius: 0.3rem;
          padding: 0.4rem 1rem;
          background-color: $black;
          color: $white;
          font-weight: 600;
          font-size: 1rem;
          transition: all ease 0.2s;

          &:hover {
            background-color: $light-black;
          }
        }
      }
    }
  }

  &-List {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}
