/*
* main
*/
$black: #1e1e1e;
$semi-light-black: #292929;
$light-black: #3e3e3e;
$gray: #5e5e5e;
$light-gray: #6e6e6e;
$v-light-gray: #a2a2a2;
$vv-light-gray: #c1c1c1;
$vvv-light-gray: #ececec;
$vvvv-light-gray: #f5f5f5;
$vvvvv-light-gray: #fbfbfb;
$semi-light-gray: #d8d8d8;
$v-semi-light-gray: #f8f8f8;
$white: #ffffff;

/*
* loading
*/
$load-dark-gray: #f6f6f6;
$load-light-gray: #fbfbfb;
