.Login {
  height: 100%;
  display: flex;

  .Login-Image {
    width: 47rem;
    height: 100%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 15rem;
    }
  }

  &-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;

    &-Content {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      &-Title {
        font-size: 1.8rem;
        font-weight: 700;
        color: #1e1e1e;
        margin-bottom: 1rem;
      }

      &-Description {
        font-size: 1rem;
        font-weight: 600;
        color: #7d7d7d;
        margin-bottom: 3rem;
      }

      &-Subtitle {
        font-size: 1.4rem;
        font-weight: 700;
        color: #1e1e1e;
        margin-bottom: 1.6rem;
      }

      &-SNS {
        & > a {
          margin-right: 2rem;
          cursor: pointer;
        }
      }

      &-Button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.4rem;
        background-color: #24292e;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        outline: none;
        border: none;
        border-radius: 0.5rem;
        box-shadow: none;
        transition: background-color 0.3s, box-shadow 0.2s;
        -webkit-transition: background-color 0.3s, box-shadow 0.2s;

        &:hover {
          background-color: #5e5e5e;
        }

        &:active {
          box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
        }

        & > img {
          margin-right: 0.6rem;
        }
      }
    }
  }
}
