.header-progress {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -4px;
  height: 4px;
  z-index: 100;

  &-container {
    background: var(--theme-text-scale-1);
    transform-origin: top left;
    transform: scale(0, 0);
    height: 4px;
  }
}
