.Side-Bar-Theme-Button {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 3.2rem;
  height: 1.5rem;
  border-radius: 2rem;
  border: 3px solid var(--theme-background-scale-0);
  position: relative;
  transition: all ease 0.2s;

  &-Toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--theme-text-scale-0);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    right: 1.3rem;
    transition: all ease 0.2s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    & > svg {
      color: var(--theme-main-background);
    }

    &-Dark {
      right: -0.6rem;
    }
  }
}
