.post-reply {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;

  &-preview {
    display: flex;

    &-hide,
    &-count,
    &-leave {
      display: flex;
      align-items: center;
      color: var(--theme-text-scale-1);
      cursor: pointer;

      &:hover {
        color: var(--theme-text-scale-3);
      }

      & > svg {
        font-size: 1rem;
        margin-right: 0.4rem;
      }

      & > span {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  &-list {
    background-color: var(--theme-background-scale-3);
    margin-top: 1rem;
    padding: 0 1.3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--theme-border);
    border-radius: 0.4rem;

    &-create {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      padding: 0.6rem 1rem;
      background-color: var(--theme-text-scale-2);
      color: var(--theme-main-background);
      font-weight: normal;
      font-size: 1rem;
      transition: all ease 0.2s;
      margin: 1rem 0;

      &:hover {
        background-color: var(--theme-text-scale-3);
      }
    }
  }
}
