@import "../../../../util/color.scss";

.Post-Reply {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;

  &-Count,
  &-Add {
    display: flex;
    align-items: center;
    color: $light-black;
    cursor: pointer;

    &:hover {
      color: $light-gray;
    }

    & > svg {
      font-size: 1rem;
      margin-right: 0.4rem;
    }

    & > span {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  &-Count {
    &-Active {
      & > svg {
        transform: rotate(180deg);
      }
    }
  }

  &-Container {
    background-color: $v-semi-light-gray;
    margin-top: 1rem;
    padding: 0 1.3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid $vvv-light-gray;
    border-radius: 0.4rem;

    &-Create {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      padding: 0.6rem 1rem;
      background-color: $gray;
      color: $white;
      font-weight: bold;
      font-size: 1rem;
      transition: all ease 0.2s;
      margin: 1rem 0;

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}
