.header-menu {
  left: 0;
  top: 0;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: var(--theme-main-background);

  &-wrap {
    padding: 2rem 1.5rem;

    &-container {
      width: 100%;
      margin-top: 3rem;
    }

    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      margin-top: 2rem;
      border-top: 1px solid var(--theme-border);

      &-restrict {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--theme-border);
      }

      &-item,
      &-logout {
        width: 100%;
        text-decoration: none;
        padding: 0.8rem;
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--theme-text-scale-2);
        border-radius: 0.2rem;
        cursor: pointer;

        &:hover {
          background-color: var(--theme-background-scale-1);
        }
      }

      &-logout {
        color: var(--theme-text-scale-4);
      }
    }
  }
}
