@import "../../../util/lib.scss";

.Search-Post-Item {
  width: 100%;
  transition: transform ease 0.2s;
  position: relative;
  display: flex;
  border-radius: 0.2rem;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);

  &-Thumbnail {
    position: relative;
    padding-top: 22%;
    padding-right: 32%;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
    }
  }

  &-Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2rem 1.8rem;

    &-Wrapper {
      display: flex;
      align-items: center;

      &-Category {
        font-size: 0.925rem;
        background-color: var(--theme-border);
        padding: 0.25rem 0.7rem;
        border-radius: 2rem;
        color: var(--theme-text-scale-2);
        font-weight: bold;
        margin-right: 1rem;
      }

      &-Date {
        font-size: 1rem;
        font-weight: normal;
        color: var(--theme-text-scale-4);
      }
    }

    &-Info {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &-Title {
        display: flex;
        align-items: center;
        color: var(--theme-main);
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 0.8rem;

        & > span {
          max-width: 50rem;
          @include ellipsis(1);
        }

        & > p {
          margin-left: 0.4rem;
        }

        @media screen and (max-width: 770px) {
          font-size: 1.2rem;
        }
      }

      &-Description {
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: normal;
        color: var(--theme-main);
        max-width: 50rem;
        overflow: hidden;
        margin-bottom: 0.4rem;
        @include ellipsis(5);

        @media screen and (max-width: 1160px) {
          @include ellipsis(4);
        }

        @media screen and (max-width: 1050px) {
          @include ellipsis(3);
          font-size: 1rem;
        }

        @media screen and (max-width: 940px) {
          @include ellipsis(2);
        }

        @media screen and (max-width: 770px) {
          @include ellipsis(1);
        }
      }
    }
  }
}
