@import "../../../util/lib.scss";
@import "../../../util/color.scss";

.Search-Post-Item {
  width: 100%;
  transition: transform ease 0.2s;
  position: relative;
  display: flex;
  text-decoration: none;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $vvv-light-gray;
  }

  &-Thumbnail {
    position: relative;
    padding-top: 25%;
    padding-right: 25%;
    margin-right: 2rem;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.2rem;
      position: absolute;
      top: 0;
    }
  }

  &-Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &-Wrapper {
      display: flex;
      align-items: center;
      margin: 0 0 0.8rem 0;

      &-Category {
        font-size: 0.75rem;
        background-color: $vvv-light-gray;
        padding: 0.16rem 0.5rem;
        border-radius: 0.5rem;
        color: $gray;
        font-weight: 600;
        margin-right: 0.6rem;
      }

      &-Date {
        font-size: 0.925rem;
        font-weight: 700;
        color: $black;
      }
    }

    &-Info {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &-Title {
        display: flex;
        align-items: center;
        color: $black;
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0.3rem;

        & > span {
          max-width: 36rem;
          @include ellipsis(1);
        }

        & > p {
          margin-left: 0.4rem;
        }
      }

      &-Description {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        max-width: 36rem;
        overflow: hidden;
        @include ellipsis(4);

        @media screen and (max-width: 810px) {
          @include ellipsis(2);
        }

        @media screen and (max-width: 610px) {
          @include ellipsis(1);
        }
      }
    }
  }
}
