@import "../../../../util/lib.scss";
@import "../../../../util/color.scss";

.Main-Post-Item {
  width: 18rem;
  margin: 1rem;
  transition: transform ease 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  @media screen and (max-width: 1230px) {
    width: calc(50% - 2rem);
  }

  @media screen and (max-width: 730px) {
    width: calc(100% - 2rem);
  }

  &-Thumbnail {
    position: relative;
    padding-top: 60%;
    cursor: pointer;

    &-Shadow {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 0.2rem;
      z-index: 10;
      background-color: #00000042;
      transition: opacity ease 0.2s;
      padding: 0.6rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      &:hover {
        opacity: 1;
      }

      &-Wrapper {
        display: flex;
        align-items: center;

        &-Comment,
        &-Like {
          display: flex;
          align-items: center;
          font-size: 1rem;
          background-color: $white;
          padding: 0.3rem 0.6rem;
          border-radius: 0.3rem;
          color: $gray;
          font-weight: normal;
        }

        &-Comment {
          margin-right: 0.6rem;

          & > svg {
            margin-right: 0.3rem;
          }

          & > p {
            font-size: 0.925rem;
          }
        }

        &-Like {
          & > svg {
            margin-right: 0.3rem;
          }

          & > p {
            font-size: 0.925rem;
          }
        }
      }
    }

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.2rem;
      position: absolute;
      top: 0;
    }
  }

  &-Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-Wrapper {
      display: flex;
      align-items: center;
      margin: 1rem 0 0.8rem 0;

      &-Category {
        font-size: 0.75rem;
        background-color: $vvv-light-gray;
        padding: 0.2rem 0.55rem;
        border-radius: 2rem;
        color: $gray;
        font-weight: bold;
        margin-right: 0.6rem;
      }

      &-Date {
        font-size: 0.925rem;
        font-weight: bold;
        color: $black;
      }
    }

    &-Info {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &-Title {
        display: flex;
        align-items: center;
        color: $black;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.3rem;

        & > span {
          @include ellipsis(1);
        }

        & > p {
          margin-left: 0.4rem;
        }
      }

      &-Description {
        font-size: 0.875rem;
        font-weight: normal;
        color: $light-black;
        @include ellipsis(1);
      }
    }
  }
}
