@import "../../../../util/lib.scss";
@import "../../../../util/color.scss";

.Main-Post-Item {
  width: 23rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform ease 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover {
    transform: translateY(-0.5rem);
  }

  @media screen and (max-width: 1230px) {
    width: calc(50% - 2rem);
  }

  @media screen and (max-width: 730px) {
    width: calc(100% - 2rem);
  }

  &-Thumbnail {
    position: relative;
    padding-top: 60%;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.4rem;
      margin-bottom: 0.4rem;
      position: absolute;
      top: 0;
    }
  }

  &-Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem;
    position: relative;

    &-Info {
      display: flex;
      flex-direction: column;

      &-Title {
        color: $black;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.4rem;
        @include ellipsis(1);
      }

      &-Description {
        font-size: 0.9rem;
        font-weight: 500;
        color: $light-gray;
        margin-bottom: 1rem;
        @include ellipsis(2);
      }
    }

    &-Category {
      color: $light-gray;
      font-size: 0.8rem;
      font-weight: 400;

      & > span {
        background-color: $vvv-light-gray;
        padding: 0.19rem 0.6rem;
        border-radius: 1rem;
        color: $black;
        font-size: 0.7rem;
        font-weight: 600;
      }
    }
  }

  &-Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.6rem;

    &-Profile {
      display: flex;
      align-items: center;

      &-Avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      &-Name {
        color: $black;
        font-size: 0.8rem;
        font-weight: 600;
        margin-left: 0.5rem;

        & > span {
          color: $v-light-gray;
          font-weight: 500;
        }
      }
    }

    &-Count {
      display: flex;
      align-items: center;
      margin-right: 0.4rem;

      &-Comment {
        display: flex;
        align-items: center;

        & > svg {
          color: $black;
          font-size: 1rem;
        }

        & > span {
          color: $black;
          margin-left: 0.3rem;
          font-size: 0.9rem;
        }
      }

      &-Like {
        display: flex;
        align-items: center;
        margin-left: 0.8rem;

        & > svg {
          color: $black;
          font-size: 1rem;
        }

        & > span {
          color: $black;
          margin-left: 0.3rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
