@import "../../../../util/lib.scss";
@import "../../../../util/color.scss";

.Main-Post-Item {
  width: 26rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform ease 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-1rem);
  }

  &-Thumbnail {
    position: relative;
    padding-top: 60%;

    &-Image {
      width: 100%;
      height: 100%;
      background-color: gray;
      object-fit: cover;
      border-radius: 0.4rem;
      margin-bottom: 0.4rem;
      position: absolute;
      top: 0;
    }
  }

  &-Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    position: relative;

    &-Category {
      margin-bottom: 0.5rem;
      color: #989898;
      font-size: 0.8rem;
      font-weight: 400;

      & > span {
        color: $bg-black;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    &-Title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 0.6rem;
      @include ellipsis(1);
    }

    &-Description {
      font-size: 0.9rem;
      font-weight: 500;
      color: #717171;
      @include ellipsis(2);
    }
  }

  &-Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.6rem;

    &-Profile {
      display: flex;
      align-items: center;

      &-Avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.3rem;
      }

      &-Name {
        color: $bg-black;
        font-size: 0.8rem;
        font-weight: 600;

        & > span {
          color: #8d8d8d;
          font-weight: 500;
        }
      }
    }

    &-Count {
      display: flex;
      align-items: center;
      margin-right: 0.4rem;

      &-Comment {
        display: flex;
        align-items: center;

        & > span {
          margin-left: 0.4rem;
          font-size: 0.9rem;
        }
      }

      &-Like {
        display: flex;
        align-items: center;
        margin-left: 0.8rem;

        & > span {
          margin-left: 0.4rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
