@import "../../../../util/color.scss";

.Main-Fixed-Post-Loading {
  width: 82rem;
  display: flex;
  margin: 0 1rem 2rem;
  cursor: pointer;
  transition: transform ease 0.3s;
  text-decoration: none;

  span {
    background-color: $load-dark-gray;
    animation: colorChange ease 1s infinite;
    @keyframes colorChange {
      0% {
        background-color: $load-dark-gray;
      }

      50% {
        background-color: $load-light-gray;
      }

      100% {
        background-color: $load-dark-gray;
      }
    }
  }

  &:hover {
    transform: translateX(-0.5rem);
  }

  &-Thumbnail {
    position: relative;
    padding: 30% 0 0 50%;
    margin-right: 2.6rem;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.4rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-Area {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-Content {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-Category {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        font-weight: 400;

        & > span {
          border-radius: 0.2rem;
          width: 6rem;
          height: 1rem;
          margin-right: 0.5rem;
        }
      }

      &-Title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        & > span {
          width: 5.5rem;
          height: 2rem;
          border-radius: 0.2rem;
          margin-right: 0.5rem;
        }

        @media screen and (max-width: 980px) {
          height: 1.2rem;
        }
      }

      &-Description {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;

        & > span {
          width: 4rem;
          height: 1.2rem;
          border-radius: 0.2rem;
          margin-right: 0.5rem;
        }
      }
    }

    &-Information {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-Profile {
        display: flex;
        align-items: center;

        &-Avatar {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          margin-right: 1rem;
        }

        &-Name {
          display: flex;
          align-items: center;

          & > span {
            width: 4rem;
            height: 1.4rem;
            border-radius: 0.2rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 730px) {
    flex-direction: column;
    margin: 1rem;
    width: 100%;

    &:hover {
      transform: translateY(-0.5rem);
    }

    &-Thumbnail {
      padding: 60% 0 0 0;
      margin-right: 0;

      &-Image {
        left: auto;
        margin-bottom: 0.4rem;
      }
    }

    &-Area {
      width: 100%;
      position: relative;

      &-Content {
        height: 100%;
        position: relative;

        &-Category {
          margin-bottom: 1rem;
        }

        &-Title {
          margin-bottom: 1rem;
        }
      }

      &-Information {
        padding: 0.4rem 0.6rem;

        &-Profile {
          &-Avatar {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
          }

          &-Name {
            height: 0.6rem;
          }
        }
      }
    }
  }
}
