.post-bottombar {
  border-top: 1px solid var(--theme-border);
  background-color: var(--theme-main-background);
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;

  & > button {
    outline: none;
    border: none;
    background-color: transparent;
  }

  &-like {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.4rem;

    & > svg {
      font-size: 1.6rem;
      color: var(--theme-text-scale-1);
      margin-right: 0.25rem;
    }

    & > p {
      font-size: 1.125rem;
      color: var(--theme-text-scale-1);
    }
  }

  &-users {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;

    & > svg {
      font-size: 1.5rem;
      color: var(--theme-text-scale-1);
    }
  }

  &-scroll {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > svg {
      font-size: 1.5rem;
      color: var(--theme-text-scale-1);
    }
  }
}
