@import "../../../util/color.scss";

.Categories-List-Item {
  cursor: pointer;
  background-color: $vvvvv-light-gray;

  &:not(:last-child) {
    border-bottom: 1px solid $vvv-light-gray;
  }

  &-Info {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-Wrapper {
      display: flex;
      align-items: center;

      & > svg {
        margin-right: 0.5rem;
        color: #58a6ff;
        font-size: 1.2rem;
      }

      &-Name {
        margin-right: 0.6rem;
        font-size: 1rem;
        font-weight: 500;
        color: $light-black;

        &:hover {
          text-decoration: underline;
          color: #0366d6;
        }
      }

      &-Count {
        color: $v-light-gray;
        font-size: 0.8rem;
      }
    }

    &-Arrow {
      color: $v-light-gray;
      font-size: 1.1rem;
      transform: rotate(0deg);
      transition: all ease 0.3s;

      &-Active {
        transform: rotate(180deg);
      }
    }
  }

  &-Post {
    max-height: 0rem;
    overflow: hidden;
    transition: max-height ease 0.5s;

    &-Active {
      border-top: 1px solid $vvv-light-gray;
      max-height: 10rem;
    }
  }
}
