@import "../../../util/color.scss";

.Categories-List-Item {
  cursor: pointer;
  background-color: $white;

  &:not(:last-child) {
    border-bottom: 1px solid $vvvv-light-gray;
  }

  &-Info {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-Wrapper {
      display: flex;
      align-items: center;

      & > svg {
        margin-right: 0.5rem;
        color: #58a6ff;
        font-size: 1.2rem;
      }

      &-Name {
        margin-right: 0.6rem;
        font-size: 1rem;
        font-weight: normal;
        color: $light-black;

        &:hover {
          text-decoration: underline;
          color: #0366d6;
        }
      }

      &-Edit {
        border: 1px solid $vvvv-light-gray;
        border-radius: 0.3rem;
        padding: 0.3rem 0.5rem;
        margin-right: 0.6rem;
        display: flex;
        align-items: center;

        &-Input {
          border: none;
          outline: none;
          font-family: inherit;

          &::placeholder {
            font-family: inherit;
            font-size: 0.825rem;
            color: $vv-light-gray;
          }
        }

        & > svg {
          color: $vv-light-gray;
          transition: color ease 0.1s;

          &:hover {
            color: $v-light-gray;
          }
        }
      }

      &-Count {
        color: $v-light-gray;
        font-size: 0.8rem;
      }
    }

    &-Icon {
      color: $v-light-gray;
      font-size: 1.1rem;
      transform: rotate(0deg);
      transition: all ease 0.3s;

      &-Active {
        transform: rotate(180deg);
      }
    }
  }

  &-Post {
    max-height: 0rem;
    overflow: hidden;
    transition: max-height ease 0.6s;

    &-Active {
      border-top: 1px solid $vvvv-light-gray;
      max-height: 20rem;
    }
  }
}
