.Categories-List-Item {
  cursor: pointer;
  background-color: var(--theme-main-background);

  &:not(:last-child) {
    border-bottom: 1px solid var(--theme-background-scale-1);
  }

  &-Info {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-Wrapper {
      display: flex;
      align-items: center;

      & > svg {
        margin-right: 0.5rem;
        color: var(--theme-icon-blue);
        font-size: 1.2rem;
      }

      &-Name {
        margin-right: 0.6rem;
        font-size: 1rem;
        font-weight: normal;
        color: var(--theme-text-scale-1);

        &:hover {
          text-decoration: underline;
          color: var(--theme-hover-blue);
        }
      }

      &-Edit {
        border: 1px solid var(--theme-background-scale-1);
        border-radius: 0.3rem;
        padding: 0.3rem 0.5rem;
        margin-right: 0.6rem;
        display: flex;
        align-items: center;

        &-Input {
          border: none;
          outline: none;
          font-family: inherit;

          &::placeholder {
            font-family: inherit;
            font-size: 0.825rem;
            color: var(--theme-background-scale-0);
          }
        }

        & > svg {
          color: var(--theme-background-scale-0);
          transition: color ease 0.1s;

          &:hover {
            color: var(--theme-text-scale-4);
          }
        }
      }

      &-Count {
        color: var(--theme-text-scale-4);
        font-size: 0.8rem;
      }
    }

    &-Icon {
      color: var(--theme-text-scale-4);
      font-size: 1.1rem;
      transform: rotate(0deg);
      transition: all ease 0.3s;

      &-Active {
        transform: rotate(180deg);
      }
    }
  }

  &-Post {
    max-height: 0rem;
    overflow-y: auto;
    transition: max-height ease 0.6s;

    &-Active {
      border-top: 1px solid var(--theme-background-scale-1);
      max-height: 20rem;
    }
  }
}
