@import "../../../../util/lib.scss";

.Main-Category-Item {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.6rem 0.4rem 0;
  border-radius: 0.3rem;
  background-color: var(--theme-border);
  transition: background-color ease 0.1s;
  display: flex;
  align-items: center;
  overflow: hidden;

  &:hover {
    background-color: var(--theme-background-scale-0);
  }

  &:hover > &-Count {
    background-color: var(--theme-text-scale-4);
  }

  &-Active {
    background-color: var(--theme-text-scale-1);

    &:hover {
      background-color: var(--theme-text-scale-1);
    }
  }

  &:hover > &-Count-Active {
    background-color: var(--theme-text-scale-0);
  }

  &-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.23rem 0.3rem 0.23rem 0.6rem;
    max-width: 10rem;

    &-Name {
      font-size: 0.825rem;
      font-weight: normal;
      color: var(--theme-main);
      margin-right: 0.2rem;
      transition: color ease 0.2s;
      @include ellipsis(1);
      word-break: break-all;

      &-Active {
        color: var(--theme-main-background);
      }
    }
  }

  &-Count {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease 0.1s;
    background-color: var(--theme-background-scale-4);
    padding: 0.2rem 0.4rem;
    color: var(--theme-text-scale-1);
    font-size: 0.825rem;
    font-weight: 600;
    height: 100%;

    &-Active {
      background-color: var(--theme-text-scale-0);
      color: var(--theme-main-background);
      font-weight: 400;
    }
  }
}
