.post-notfound {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10rem;

  &-sign {
    z-index: 10;
    transform: translateY(1rem);
    animation: upAndDown ease 1s infinite;
    margin-bottom: 4rem;

    @keyframes upAndDown {
      0% {
        transform: translateY(1rem);
      }

      50% {
        transform: translateY(0rem);
      }

      100% {
        transform: translateY(1rem);
      }
    }
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 0.2rem;
      color: var(--theme-main);
    }

    &-subtitle {
      font-size: 1.2rem;
      font-weight: normal;
      color: var(--theme-main);
    }
  }
}
