.Header {
  width: 100%;
  display: flex;
  padding: 0.8rem 0;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  &-Hide {
    transform: translateY(-5rem);
  }

  &-Shadow {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }

  &-Container {
    width: 100%;
    max-width: 1700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    &-Image {
      height: 1.4rem;
    }

    &-Profile {
      display: flex;
      align-items: center;

      &-Avatar {
        width: 2.85rem;
        height: 2.85rem;
        border-radius: 50%;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }

      &-Button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 2.85rem;
        height: 2.85rem;
        background-color: #1a1a1a;
        border-radius: 50%;
        box-shadow: none;
        transition: all ease-in-out 0.3s;

        &-Logo {
          width: 1.85rem;
          height: 1.85rem;
        }

        &:hover {
          background-color: #5e5e5e;
        }

        &:active {
          box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
