@import "../../../util/color.scss";

.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  transition: transform ease 0.3s, box-shadow ease 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  &-Hide {
    transform: translateY(-20rem);
  }

  &-Shadow {
    box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.1);
  }

  &-Container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &-Content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 0;

      &-Image {
        height: 1.4rem;
      }

      &-Profile {
        display: flex;
        align-items: center;

        &-Write {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 5rem;
          height: 2.1rem;
          background-color: $black;
          font-size: 1rem;
          font-weight: 500;
          color: $white;
          border-radius: 2rem;
          margin-right: 1.4rem;
          cursor: pointer;
          box-shadow: none;
          transition: all ease-in-out 0.2s;
          text-decoration: none;

          &:hover {
            background-color: $light-black;
          }

          &:active {
            box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.4);
          }
        }

        &-Wrapper {
          position: relative;

          &-User {
            display: flex;
            align-items: center;
            cursor: pointer;

            &-Avatar {
              width: 2.7rem;
              height: 2.7rem;
              border-radius: 50%;
              box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
            }

            &-Option {
              width: 0.7rem;
              margin-left: 0.8rem;

              & > path {
                transition: fill ease 0.2s;
              }
            }

            &:hover > &-Option {
              path {
                fill: $black;
              }
            }
          }
        }

        &-Button {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 0.4rem;
          background-color: $black;
          border-radius: 50%;
          box-shadow: none;
          transition: all ease-in-out 0.2s;

          &:hover {
            background-color: $light-black;
          }

          &:active {
            box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
          }

          &-Logo {
            width: 1.85rem;
            height: 1.85rem;
          }
        }
      }
    }

    &-Categories {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      max-height: 0rem;
      transition: all ease 1s;

      &-Open {
        max-height: 14rem;
      }
    }

    &-UpDown {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;

      &-Icon {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        animation: float ease 1s infinite;

        @keyframes float {
          0% {
            transform: translateY(-0.3rem);
          }

          50% {
            transform: translateY(0rem);
          }

          100% {
            transform: translateY(-0.3rem);
          }
        }

        @keyframes float-rotated {
          0% {
            transform: rotate(180deg) translateY(0.3rem);
          }

          50% {
            transform: rotate(180deg) translateY(0rem);
          }

          100% {
            transform: rotate(180deg) translateY(0.3rem);
          }
        }

        &-Open {
          animation: float-rotated ease 1s infinite;
        }
      }
    }
  }
}
