.Members-User-Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;

  &-Wrapper {
    display: flex;
    align-items: center;

    &-Avatar {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &-Info {
      &-Name {
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--theme-text-scale-1);
        margin-bottom: 0.2rem;
      }

      &-Bio {
        font-size: 1rem;
        color: var(--theme-text-scale-4);
      }
    }
  }

  &-CreatedAt {
    font-size: 1rem;
    color: var(--theme-text-scale-4);
    margin-right: 1rem;
  }
}
