.Post-Profile {
  width: 100%;
  padding: 4rem 1rem 2.5rem 0;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--theme-border);

  &-Container {
    display: flex;
    align-items: center;

    &-Image {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 1px solid var(--theme-border);
      margin-right: 1.2rem;
    }

    &-Info {
      display: flex;
      flex-direction: column;

      & > h2 {
        color: var(--theme-main);
        margin-bottom: 0.4rem;
      }

      & > p {
        color: var(--theme-text-scale-4);
        font-size: 1.1rem;
      }
    }
  }

  & > a {
    & > svg {
      width: 2.6rem;
      height: 2.6rem;

      & > path {
        transition: all ease 0.2s;
        fill: var(--theme-background-scale-0);
      }
    }

    &:hover > svg > path {
      fill: var(--theme-main);
    }
  }
}
