.post-profile {
  width: 100%;
  padding: 4rem 1rem 2.5rem 0;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--theme-border);

  &-wrap {
    display: flex;
    align-items: center;

    &-image {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 1px solid var(--theme-border);
      margin-right: 1.2rem;
    }

    &-info {
      display: flex;
      flex-direction: column;

      & > h2 {
        color: var(--theme-main);
        margin-bottom: 0.4rem;
      }

      & > p {
        color: var(--theme-text-scale-4);
        font-size: 1.1rem;
      }
    }
  }

  &-github {
    &-icon {
      width: 3rem;
      height: 3rem;
      transition: all ease 0.2s;
      color: var(--theme-background-scale-0);

      &:hover {
        color: var(--theme-text-scale-0);
      }
    }
  }
}
