@import "../../../util/color.scss";

.Main-Categories {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin-right: 1rem;
  position: relative;
  height: 100%;

  &-Container {
    position: fixed;
    width: inherit;

    &-Title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 0.7rem;
      border-bottom: 1px $vvv-light-gray solid;
    }

    &-List {
      margin: 1rem 0 0 0.6rem;
    }
  }
}
