@import "../../../util/color.scss";

.Main-Categories {
  width: 16rem;
  position: relative;
  margin: 1rem 0 1rem 2rem;

  @media screen and (max-width: 1240px) {
    width: 14rem;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }

  &-Container {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    padding: 0 1rem;
    border-left: 5px solid $vvv-light-gray;

    &-Title {
      color: $gray;
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }

    &-List {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
