.Main-Categories {
  width: 16rem;
  position: relative;
  margin: 1rem 0 1rem 2rem;

  @media screen and (max-width: 1240px) {
    width: 14rem;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }

  &-Container {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    padding: 0 1rem;
    border-left: 3px solid var(--theme-border);

    &-Title {
      color: var(--theme-text-scale-2);
      font-size: 1.125rem;
      font-weight: normal;
      margin-bottom: 1.5rem;
    }

    &-List {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &-All {
        text-decoration: none;
        margin-top: 0.4rem;
        color: var(--theme-text-scale-4);

        &:hover {
          text-decoration: underline;
          color: var(--theme-text-scale-3);
        }

        &-Text {
          font-weight: normal;
          font-size: 0.925rem;
        }
      }
    }
  }
}
