@import "../../../../util/color.scss";

.Main-Post-Loading {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-Wrapper {
    display: flex;
    background-color: $vvv-light-gray;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
  }
}
