@import "../../../../styles/lib.scss";

.post-liked-user-item {
  display: flex;
  width: 100%;
  padding: 0.6rem;
  background-color: var(--theme-background-scale-1);

  &:not(:last-child) {
    border-bottom: 1px solid var(--theme-border);
  }

  &-wrap {
    display: flex;
    align-items: center;
    text-decoration: none;

    &-avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid var(--theme-border);
      margin-right: 0.5rem;
    }

    &-content {
      &-name {
        font-size: 0.925rem;
        font-weight: bold;
        max-width: 20rem;
        color: var(--theme-text-scale-1);
        @include ellipsis(1);
      }

      &-bio {
        font-size: 0.8rem;
        color: var(--theme-text-scale-4);
        max-width: 20rem;
        @include ellipsis(1);
      }
    }
  }
}
