.post-delete {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  min-width: 22rem;
  padding: 2rem 1.6rem 1.4rem 1.6rem;

  &-content {
    display: flex;
    flex-direction: column;
    color: var(--theme-main);

    & > p {
      margin: 0.8rem 0;
    }
  }

  &-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 1.4rem;

    &-delete {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      padding: 0.4rem 1rem;
      background-color: var(--theme-main);
      color: var(--theme-main-background);
      font-weight: bold;
      font-size: 1rem;
      transition: all ease 0.2s;
      margin-right: 0.6rem;

      &:hover {
        background-color: var(--theme-text-scale-3);
      }
    }

    &-cancel {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      padding: 0.4rem 1rem;
      background-color: var(--theme-text-scale-4);
      color: var(--theme-main-background);
      font-weight: bold;
      font-size: 1rem;
      transition: all ease 0.2s;

      &:hover {
        background-color: var(--theme-background-scale-0);
      }
    }
  }
}
