@import "../../../util/lib.scss";

.Temp-Post-Item {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
  background-color: var(--theme-main-background);
  border-radius: 0.2rem;

  &-Info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-Wrapper {
      width: 100%;
      text-decoration: none;

      &-Title {
        color: var(--theme-main);
        font-size: 1.4rem;
        font-weight: bold;
        @include ellipsis(1);
        margin-bottom: 1rem;
      }

      &-Content {
        color: var(--theme-text-scale-1);
        font-size: 0.975rem;
        font-weight: normal;
        margin-bottom: 0.8rem;
        @include ellipsis(3);
      }
    }

    &-Bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-Date {
        color: var(--theme-text-scale-3);
        font-size: 0.825rem;
        font-weight: lighter;
      }

      & > svg {
        cursor: pointer;
        font-size: 0.9rem;
        color: var(--theme-background-scale-0);
        margin-right: 0.4rem;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }
    }
  }
}
