.SideBar-Tap {
  width: 100%;
  border-top: 1px solid var(--theme-border);

  &-Home,
  &-Categories,
  &-Achieve,
  &-About {
    display: flex;
    color: var(--theme-text-scale-3);
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid var(--theme-border);

    &:hover > &-Wrapper {
      transform: translateX(-0.5rem);
    }

    &-Wrapper {
      display: flex;
      align-items: center;
      transition: transform ease 0.3s;

      &-Area {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: var(--theme-border);
        margin-right: 0.6rem;
        margin-right: 1.2rem;

        & > svg {
          font-size: 1.5rem;
        }
      }

      & > p {
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 4px;
      }
    }
  }
}
