@import "../../../../util/color.scss";

.SideBar-Tap {
  width: 100%;
  border-top: 1px solid $vvv-light-gray;

  &-Home,
  &-Categories,
  &-Achieve,
  &-About {
    display: flex;
    color: $light-gray;
    padding: 1.1rem 1rem 1.1rem 4rem;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid $vvv-light-gray;

    &:hover > &-Wrapper {
      transform: translateX(-0.5rem);
    }

    &-Wrapper {
      display: flex;
      align-items: center;
      transition: transform ease 0.3s;

      & > svg {
        font-size: 1.5rem;
        margin-right: 1.2rem;
      }

      & > p {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 4px;
      }
    }
  }
}
