@import "../../util/color.scss";

.Post {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-family: MalgunGothic;

  &-Container {
    width: 100%;
    max-width: 830px;
    padding: 0 1rem;
  }

  &-Content {
    margin: 3rem 0;
  }

  &-ProgressBar {
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    bottom: 0;
    left: 0;
    height: 6px;

    &-Container {
      background: $black;
      transform-origin: top left;
      transform: scale(0, 0);
      height: 6px;
    }
  }
}
