@import "../../util/color.scss";

.Post {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  font-family: MalgunGothic;

  &-Container {
    width: 100%;
    max-width: 830px;
    padding: 0 1rem;
  }

  &-Content {
    margin: 3rem 0;
  }
}
