.header-menu-tab-item {
  text-decoration: none;
  font-size: 0.925rem;
  color: var(--theme-text-scale-1);
  font-weight: bold;
  padding: 1rem;

  @media screen and (max-width: 730px) {
    padding: 1rem 0.5rem;
  }

  &:hover {
    box-shadow: inset 0 -2px var(--theme-background-scale-0);
  }
}

.menu-item-active {
  box-shadow: inset 0 -2px var(--theme-text-scale-1);
}
