.toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem 0;

  &-divide {
    height: auto;
    border: 1px solid var(--theme-background-scale-4);
    margin: 0.5rem 0.5rem;
  }

  & > input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  &-wrapper {
    position: relative;
  }

  &-button {
    cursor: pointer;
    padding: 0.65rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 0.2rem;

    &:hover {
      background-color: var(--theme-background-scale-1);
    }

    &-icon {
      color: var(--theme-text-scale-3);
      font-size: 1.025rem;
    }

    &-heading {
      display: flex;

      &-icon {
        color: var(--theme-text-scale-3);
        font-size: 1.025rem;
      }

      &-number {
        font-weight: bold;
        color: var(--theme-text-scale-3);
      }
    }
  }
}
