@import "../../../util/color.scss";

.MarkDown {
  font-family: MalgunGothic;
  font-size: 1.125rem;
  color: $black;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;

  @media screen and (max-width: 730px) {
    font-size: 1rem;
  }

  p {
    margin: 1.5rem 0;
  }

  p + h1,
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 2.5rem;

    @media screen and (max-width: 730px) {
      margin-top: 2rem;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $vvv-light-gray;

    @media screen and (max-width: 730px) {
      margin-bottom: 0.75rem;
    }
  }

  h1 {
    font-size: 2.5rem;

    @media screen and (max-width: 730px) {
      font-size: 2.25rem;
    }
  }

  h2 {
    font-size: 2rem;

    @media screen and (max-width: 730px) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 1.5rem;

    @media screen and (max-width: 730px) {
      font-size: 1.25rem;
    }
  }

  h4 {
    font-size: 1.125rem;

    @media screen and (max-width: 730px) {
      font-size: 1rem;
    }
  }

  hr {
    height: 1px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: $vvv-light-gray;
  }

  blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0px;
    margin-right: 0px;
    color: $light-gray;
    border-left: 4px solid;
    border-color: $vv-light-gray;
    background-color: $vvvvv-light-gray;
    padding: 1rem 1rem 1rem 2rem;

    & :first-child {
      margin-top: 0px;
    }

    & :last-child {
      margin-bottom: 0px;
    }
  }

  pre {
    font-family: "Fira Mono", source-code-pro, Menlo, Monaco, Consolas,
      "Courier New", monospace;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: auto;
    letter-spacing: 0px;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1.5rem;
  }

  code {
    font-family: "Fira Mono", source-code-pro, Menlo, Monaco, Consolas,
      "Courier New", monospace;
  }

  p > code {
    background: $vvvv-light-gray;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    font-size: 85%;
    font-family: MalgunGothic;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  p > img {
    display: block;
    max-width: 100%;
    margin: 3rem auto;
  }

  p > a {
    text-decoration: none;
    color: $v-light-gray;
    font-weight: 600;
  }

  table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-top: 1.5rem;

    tr:nth-child(2n) {
      background-color: $vvvvv-light-gray;
    }

    tr {
      background-color: $white;
      border-top: 1px solid $vvv-light-gray;
    }

    td,
    th {
      padding: 1px 13px;
      border: 1px solid $vvv-light-gray;
    }
  }
}
