@import "../../../../util/color.scss";

.Header-Category-Item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  background-color: $vvv-light-gray;
  transition: background-color ease 0.2s;
  margin: 0 0.4rem 0.3rem 0;

  &:hover {
    background-color: $vv-light-gray;
  }

  &-Active {
    background-color: $black;

    &:hover {
      background-color: $black;
    }
  }

  &-Name {
    font-size: 0.9rem;
    font-weight: 600;
    color: $black;
    margin-right: 0.2rem;
    transition: color ease 0.2s;

    &-Active {
      color: $white;
    }
  }

  &-Count {
    font-size: 0.8rem;
    font-weight: 500;
    color: $black;
    transition: color ease 0.2s;

    &-Active {
      color: $white;
    }
  }
}
