.Post-Reply-Item {
  display: flex;
  flex-direction: column;
  padding: 1.3rem 0;
  border-bottom: 1px solid var(--theme-border);

  &-Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &-Info {
      display: flex;
      align-items: center;

      &-Avatar {
        & > img {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          border: 1px solid var(--theme-border);
          margin-right: 0.8rem;
        }
      }

      &-Container {
        display: flex;
        flex-direction: column;

        &-Name {
          text-decoration: none;

          &:hover {
            & > h3 {
              text-decoration: underline;
            }
          }

          & > h3 {
            font-size: 1.125rem;
            margin-bottom: 0.25rem;
            color: var(--theme-main);
          }
        }

        & > p {
          font-size: 0.9rem;
          color: var(--theme-text-scale-3);
        }
      }
    }

    &-Control {
      display: flex;
      align-items: center;
      color: var(--theme-background-scale-0);
      font-size: 0.825rem;

      &-Edit {
        cursor: pointer;
        margin-right: 0.8rem;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }

      &-Delete {
        cursor: pointer;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }
    }
  }

  & > p {
    color: var(--theme-main);
    font-size: 1.125rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
