@import "../../../../../util/color.scss";

.Post-Reply-Item {
  display: flex;
  flex-direction: column;
  padding: 1.3rem 0;
  border-bottom: 1px solid $vvv-light-gray;

  &-Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &-Info {
      display: flex;
      align-items: center;

      & > img {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        border: 1px solid $vvv-light-gray;
        margin-right: 0.8rem;
      }

      &-Container {
        display: flex;
        flex-direction: column;

        & > h3 {
          font-size: 1.125rem;
          margin-bottom: 0.25rem;
          color: $black;
        }

        & > p {
          font-size: 0.9rem;
          color: $light-gray;
        }
      }
    }

    &-Control {
      display: flex;
      align-items: center;
      color: $v-light-gray;
      font-size: 0.9rem;

      &-Edit {
        cursor: pointer;
        margin-right: 0.6rem;

        &:hover {
          color: $vv-light-gray;
        }
      }

      &-Delete {
        cursor: pointer;

        &:hover {
          color: $vv-light-gray;
        }
      }
    }
  }

  & > p {
    color: $black;
    font-size: 1.125rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
