.post-reply-item {
  display: flex;
  flex-direction: column;
  padding: 1.3rem 0;
  border-bottom: 1px solid var(--theme-border);

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &-info {
      display: flex;
      align-items: center;

      &-avatar {
        &-img {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          border: 1px solid var(--theme-border);
          margin-right: 0.8rem;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;

        &-area {
          display: flex;

          &-name {
            text-decoration: none;
            color: var(--theme-main);

            &:hover {
              & > h3 {
                text-decoration: underline;
              }
            }

            & > h3 {
              font-size: 1.125rem;
              margin-bottom: 0.25rem;
            }
          }
        }

        & > p {
          font-size: 0.9rem;
          color: var(--theme-text-scale-3);
        }
      }
    }

    &-control {
      display: flex;
      align-items: center;
      color: var(--theme-background-scale-0);
      font-size: 0.825rem;

      &-update {
        cursor: pointer;
        margin-right: 0.8rem;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }

      &-delete {
        cursor: pointer;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }
    }
  }

  &-content {
    color: var(--theme-main);
    font-size: 1.125rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
