@import "../../util/color.scss";

.Categories {
  display: flex;
  justify-content: center;
  width: 100%;

  &-Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 8rem 0 4rem 0;
    padding: 0 1rem;

    &-Title {
      font-size: 2rem;
      font-weight: 600;
      color: $light-black;
      margin-bottom: 2rem;
    }

    &-List {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid $vvv-light-gray;
    }
  }
}
