@import "../../util/color.scss";

.Categories {
  display: flex;
  justify-content: center;
  width: 100%;

  &-Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 8rem 0 4rem 0;
    padding: 0 1rem;

    &-Header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 3.6rem;

      &-Title {
        font-size: 2.8rem;
        font-weight: bold;
        color: $light-black;
      }

      &-Control {
        display: flex;
        align-items: center;

        &-Add,
        &-Edit,
        &-Delete,
        &-Order {
          font-size: 1rem;
          color: $vv-light-gray;
          cursor: pointer;
          margin-right: 1rem;
          transition: color ease 0.1s;

          &:hover {
            color: $v-light-gray;
          }
        }
      }
    }

    &-List {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid $vvv-light-gray;

      &-Delete {
        animation: listShake 1s infinite;
      }
    }
  }
}

@keyframes listShake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-0.6deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(0.6deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0.6deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-0.6deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-0.6deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0.6deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-0.6deg);
  }
}
