@import "../../util/color.scss";

.Categories {
  display: flex;
  justify-content: center;
  width: 100%;

  &-Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 8rem 0 6rem 0;
    padding: 0 1rem;

    &-Container {
      display: flex;
      justify-content: center;

      &-Name {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.3rem;
        background-color: $vvvvv-light-gray;
        padding: 0.2rem 0.4rem;
        -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        position: fixed;
        bottom: -10rem;
        transition: bottom ease 0.5s;

        &-Active {
          bottom: 6rem;
        }

        &:focus-within {
          animation: buttonFloat ease 1s infinite;
        }

        &-Input {
          width: 20rem;
          padding: 0.5rem 0.5rem;
          font-size: 1rem;
          font-family: inherit;
          border: none;
          border-radius: 0.2rem;
          outline: none;
          background-color: $vvvvv-light-gray;

          &::placeholder {
            color: $vv-light-gray;
            font-family: inherit;
            font-size: 1rem;
          }
        }
      }

      &-Control {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 2rem;

        &-Create,
        &-Edit {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $vvvvv-light-gray;
          outline: none;
          border: none;
          padding: 0.6rem 0.8rem;
          margin-right: 1rem;
          border-radius: 0.3rem;
          -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          transition: all ease 0.2s;
          color: $light-black;

          &:hover {
            background-color: $vvvv-light-gray;
            animation: buttonFloat ease 1s infinite;
          }

          &-Content {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
          }
        }

        &-Create {
          &-Icon {
            font-size: 1.325rem;
            margin-right: 0.4rem;
            transition: transform ease 0.2s;

            &-Active {
              transform: rotate(-45deg);
            }
          }
        }

        &-Edit {
          &-Icon {
            font-size: 0.925rem;
            margin-right: 0.4rem;
            transition: transform ease 0.2s;
          }
        }
      }
    }

    &-Title {
      font-size: 2.8rem;
      font-weight: bold;
      color: $light-black;
      margin-bottom: 3.6rem;
    }

    &-List {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid $vvv-light-gray;

      &-Delete {
        animation: listShake 1s infinite;
      }
    }
  }
}

@keyframes listShake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-0.3deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(0.3deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0.3deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-0.3deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-0.3deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0.3deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-0.3deg);
  }
}

@keyframes buttonFloat {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
