@import "../../../util/color.scss";

.SideBar {
  min-height: 100vh;
  background-color: $vvvv-light-gray;
  position: fixed;
  z-index: 99;
  border-right: 1px solid $vvv-light-gray;

  &-Profile {
    padding: 5rem;

    &-Avatar {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      margin-bottom: 1rem;
      box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.15);
    }

    &-Name {
      font-size: 1.6rem;
      color: $v-light-gray;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }

    &-Bio {
      font-size: 1.2rem;
      color: $vv-light-gray;
      font-weight: 500;
    }
  }
}
