@import "../../../util/color.scss";

.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 99;
  background-color: $black;
  min-height: 100vh;

  &-Content {
    padding: 5rem 6rem 4rem 4rem;

    &-Avatar {
      width: 11rem;
      height: 11rem;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    &-Name {
      font-size: 1.5rem;
      color: $white;
      font-weight: 600;
    }

    &-Id {
      font-size: 1.2rem;
      color: $v-light-gray;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    &-Bio {
      font-size: 1.2rem;
      color: $light-gray;
      font-weight: 500;
      font-style: oblique;
    }
  }
}
