@import "../../styles/animations.scss";

.handle {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include fade-in();

  ::selection {
    background-color: var(--theme-background-scale-4);
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;

    &-wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      overflow-y: hidden;
      background-color: var(--theme-main-background);

      @media screen and (max-width: 860px) {
        width: 100%;
      }

      &-header {
        width: 100%;
        padding: 3rem 2rem 0rem;
        display: block;
      }

      &-toolbar {
        padding: 0 2rem;
      }
    }
  }
}

.toolbar-passed {
  top: 0;
  border-bottom: 1px solid var(--theme-border);
}

.header-passed {
  display: none;
}
