@import "../../util/color.scss";

.Temp {
  display: flex;
  justify-content: center;
  padding: 8rem 0 4rem 0;

  &-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;

    &-Title {
      font-size: 2.8rem;
      font-weight: 700;
      color: $light-black;
      padding: 0 1rem;
      margin-bottom: 3.6rem;
    }

    &-List {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
