.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    border-top: 1px solid var(--theme-border);
    width: 100%;
    max-width: 1218px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem 2.5rem 2rem;

    &-content {
      font-size: 0.925rem;
      color: var(--theme-text-scale-4);
    }
  }
}
