.post-liked-users {
  width: 27rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-background-scale-2);
    border: 1px solid var(--theme-border);
    padding: 0.6rem 0.4rem;

    & > svg {
      cursor: pointer;
      font-size: 1.4rem;
      position: absolute;
      left: 0.4rem;
      color: var(--theme-text-scale-1);
    }

    &-title {
      font-size: 1rem;
      color: var(--theme-text-scale-1);
      font-weight: bold;
      margin-right: 0.4rem;
    }

    &-count {
      font-size: 1rem;
      color: var(--theme-text-scale-4);
      font-weight: bold;
    }
  }

  &-list {
    height: 30rem;
    overflow-y: auto;
  }
}
