.Auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-Title {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 0.2rem;
      color: var(--theme-main);
    }

    &-Subtitle {
      font-size: 1.6rem;
      font-weight: normal;
      color: var(--theme-main);
      margin-bottom: 2rem;
    }
  }
}
