@import "../../../util/color.scss";

.Handle-Category-Option {
  bottom: 2.7rem;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border: 1px solid $vvv-light-gray;
  background: $white;
  width: 12rem;
  height: auto;
  position: absolute;
  border-radius: 0.2rem;

  & > div {
    width: 100%;
    padding: 0.6rem 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: $vvvv-light-gray;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
      color: $black;
    }
  }
}
