.Handle-Category-Option {
  bottom: 2.7rem;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  background: var(--theme-main-background);
  width: 12rem;
  height: auto;
  position: absolute;
  border-radius: 0.2rem;

  & > div {
    width: 100%;
    padding: 0.7rem 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: var(--theme-background-scale-1);
    }

    span {
      font-size: 1rem;
      font-weight: normal;
      color: var(--theme-main);
    }
  }
}
