.post-comment-item {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border-left: 8px solid var(--theme-border);
  background-color: var(--theme-background-scale-2);
  margin-bottom: 1.3rem;

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &-info {
      display: flex;
      align-items: center;

      &-avatar {
        & > img {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          border: 1px solid var(--theme-border);
          margin-right: 0.8rem;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;

        &-area {
          display: flex;

          &-name {
            text-decoration: none;
            color: var(--theme-main);

            &:hover {
              & > h3 {
                text-decoration: underline;
              }
            }

            & > h3 {
              font-size: 1.125rem;
              margin-bottom: 0.25rem;
            }
          }
        }

        & > p {
          font-size: 0.9rem;
          color: var(--theme-text-scale-3);
        }
      }
    }

    &-control {
      display: flex;
      align-items: center;
      color: var(--theme-background-scale-0);
      font-size: 0.825rem;

      &-update {
        cursor: pointer;
        margin-right: 0.8rem;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }

      &-delete {
        cursor: pointer;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }
    }
  }

  &-input {
    display: flex;
    flex-direction: column;

    &-box {
      width: 100%;
      min-height: 6.125rem;
      padding: 1rem;
      font-size: 1rem;
      font-weight: normal;
      font-family: inherit;
      color: var(--theme-main);
      outline: none;
      border-radius: 0.2rem;
      border: 1px solid var(--theme-border);
      background-color: var(--theme-background-scale-1);
      resize: none;
      transition: border ease 0.2s;
      margin-bottom: 1rem;

      &::placeholder {
        font-style: italic;
        transition: color ease 0.2s;
        color: var(--theme-background-scale-0);
      }

      &:focus {
        border: 1px solid var(--theme-text-scale-4);
        &::placeholder {
          color: var(--theme-text-scale-4);
        }
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      width: 100%;

      &-button,
      &-cancel {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0.3rem;
        padding: 0.4rem 1rem;
        font-weight: normal;
        font-size: 1rem;
        transition: all ease 0.2s;
        margin-right: 0.6rem;
        font-family: inherit;
      }

      &-button {
        background-color: var(--theme-main);
        color: var(--theme-main-background);

        &:hover {
          background-color: var(--theme-text-scale-1);
        }
      }

      &-cancel {
        background-color: var(--theme-text-scale-4);
        color: var(--theme-main-background);

        &:hover {
          background-color: var(--theme-background-scale-0);
        }
      }
    }
  }

  &-content {
    color: var(--theme-main);
    font-size: 1.125rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
