.Post-Comment-Item {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border-left: 8px solid var(--theme-border);
  background-color: var(--theme-background-scale-2);
  margin-bottom: 1.3rem;

  &-Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &-Info {
      display: flex;
      align-items: center;

      &-Avatar {
        & > img {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          border: 1px solid var(--theme-border);
          margin-right: 0.8rem;
        }
      }

      &-Container {
        display: flex;
        flex-direction: column;

        &-Name {
          text-decoration: none;

          &:hover {
            & > h3 {
              text-decoration: underline;
            }
          }

          & > h3 {
            font-size: 1.125rem;
            margin-bottom: 0.25rem;
            color: var(--theme-main);
          }
        }

        & > p {
          font-size: 0.9rem;
          color: var(--theme-text-scale-3);
        }
      }
    }

    &-Control {
      display: flex;
      align-items: center;
      color: var(--theme-background-scale-0);
      font-size: 0.825rem;

      &-Edit {
        cursor: pointer;
        margin-right: 0.8rem;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }

      &-Delete {
        cursor: pointer;

        &:hover {
          color: var(--theme-text-scale-4);
        }
      }
    }
  }

  &-Input {
    display: flex;
    flex-direction: column;

    &-Box {
      width: 100%;
      min-height: 6.125rem;
      padding: 1rem;
      font-size: 1rem;
      font-weight: normal;
      font-family: inherit;
      color: var(--theme-main);
      outline: none;
      border-radius: 0.2rem;
      border: 1px solid var(--theme-border);
      background-color: var(--theme-background-scale-1);
      resize: none;
      transition: border ease 0.2s;
      margin-bottom: 1rem;

      &::placeholder {
        font-style: italic;
        transition: color ease 0.2s;
        color: var(--theme-background-scale-0);
      }

      &:focus {
        border: 1px solid var(--theme-text-scale-4);
        &::placeholder {
          color: var(--theme-text-scale-4);
        }
      }
    }

    &-Wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      &-Button,
      &-Cancel {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0.3rem;
        padding: 0.4rem 1rem;
        font-weight: normal;
        font-size: 1rem;
        transition: all ease 0.2s;
        margin-right: 0.6rem;
        font-family: inherit;
      }

      &-Button {
        background-color: var(--theme-main);
        color: var(--theme-main-background);

        &:hover {
          background-color: var(--theme-text-scale-1);
        }
      }

      &-Cancel {
        background-color: var(--theme-text-scale-4);
        color: var(--theme-main-background);

        &:hover {
          background-color: var(--theme-background-scale-0);
        }
      }
    }
  }

  & > p {
    color: var(--theme-main);
    font-size: 1.125rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
