@import "../../../../util/lib.scss";
@import "../../../../util/color.scss";

.Main-Fixed-Post {
  width: 82rem;
  display: flex;
  margin: 0 1rem 2rem;
  cursor: pointer;
  transition: transform ease 0.3s;
  text-decoration: none;

  &:hover {
    transform: translateX(-0.5rem);
  }

  &-Thumbnail {
    position: relative;
    padding: 30% 0 0 50%;
    margin-right: 2.6rem;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.4rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-Area {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-Content {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-Category {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        color: $v-light-gray;
        font-weight: 400;

        & > svg {
          width: 1rem;
          height: 1rem;
          margin-right: 0.2rem;
        }

        & > span {
          color: $black;
          font-weight: 600;
          margin-right: 0.2rem;
        }
      }

      &-Title {
        color: $black;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
        @include ellipsis(2);

        @media screen and (max-width: 980px) {
          font-size: 1.4rem;
          @include ellipsis(1);
        }
      }

      &-Description {
        color: $light-gray;
        font-size: 1rem;
        font-weight: 500;
        @include ellipsis(3);

        @media screen and (max-width: 980px) {
          @include ellipsis(2);
        }
      }
    }

    &-Information {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-Profile {
        display: flex;
        align-items: center;

        &-Avatar {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          margin-right: 0.4rem;
        }

        &-Name {
          color: $black;
          font-size: 1rem;
          font-weight: 600;

          & > span {
            color: $v-light-gray;
            font-weight: 500;
          }
        }
      }

      &-Count {
        display: flex;
        align-items: center;
        margin-right: 0.4rem;

        &-Comment {
          display: flex;
          align-items: center;

          & > svg {
            width: 1.1rem;
            height: 1.1rem;
          }

          & > span {
            color: $black;
            margin-left: 0.4rem;
            font-size: 1.1rem;
          }
        }

        &-Like {
          display: flex;
          align-items: center;
          margin-left: 1.2rem;

          & > svg {
            width: 1.1rem;
            height: 1.1rem;
          }

          & > span {
            color: $black;
            margin-left: 0.4rem;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 730px) {
    flex-direction: column;
    margin: 1rem;
    width: 100%;

    &:hover {
      transform: translateY(-0.5rem);
    }

    &-Thumbnail {
      padding: 60% 0 0 0;
      margin-right: 0;

      &-Image {
        left: auto;
        margin-bottom: 0.4rem;
      }
    }

    &-Area {
      width: 100%;
      position: relative;

      &-Content {
        height: 100%;
        padding: 0.6rem;
        position: relative;

        &-Category {
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
        }

        &-Title {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        &-Description {
          font-size: 0.9rem;
        }
      }

      &-Information {
        padding: 0.4rem 0.6rem;

        &-Profile {
          &-Avatar {
            width: 2rem;
            height: 2rem;
            margin-right: 0.3rem;
          }

          &-Name {
            font-size: 0.8rem;
          }
        }

        &-Count {
          &-Comment {
            & > svg {
              width: 1rem;
              height: 1rem;
            }

            & > span {
              font-size: 0.9rem;
            }
          }

          &-Like {
            margin-left: 0.8rem;

            & > svg {
              width: 1rem;
              height: 1rem;
            }

            & > span {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
