@import "../../../../util/lib.scss";

.Main-Fixed-Post {
  width: 82rem;
  display: flex;
  margin: 0 1rem 2rem;
  cursor: pointer;

  &-Thumbnail {
    position: relative;
    padding: 30% 0 0 50%;
    margin-right: 2.6rem;

    &-Image {
      width: 100%;
      height: 100%;
      background-color: #1e1e1e;
      object-fit: cover;
      border-radius: 0.8rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-Area {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-Content {
      display: flex;
      flex-direction: column;
      &-Category {
        margin-bottom: 0.8rem;
        color: #989898;
        font-weight: 400;

        & > span {
          color: #1e1e1e;
          font-weight: 600;
        }
      }

      &-Title {
        color: #1e1e1e;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        @include ellipsis(3);
      }

      &-Description {
        color: #6e6e6e;
        font-size: 1rem;
        font-weight: 500;
        @include ellipsis(4);
      }
    }

    &-Information {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-Profile {
        display: flex;
        align-items: center;

        &-Avatar {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          margin-right: 0.4rem;
        }

        &-Name {
          color: #1e1e1e;
          font-size: 1rem;
          font-weight: 600;

          & > span {
            color: #8d8d8d;
            font-weight: 500;
          }
        }
      }

      &-Count {
        display: flex;
        align-items: center;
        margin-right: 0.4rem;

        &-Comment {
          display: flex;
          align-items: center;

          & > img {
            width: 1.2rem;
            height: 1.2rem;
          }

          & > span {
            margin-left: 0.4rem;
            font-size: 1.2rem;
          }
        }

        &-Like {
          display: flex;
          align-items: center;
          margin-left: 1.2rem;

          & > img {
            width: 1.2rem;
            height: 1.2rem;
          }

          & > span {
            margin-left: 0.4rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
