@import "../../../util/color.scss";

.Post-Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: MalgunGothic;

  &-Container {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-Title {
      color: $black;
      font-size: 2.8rem;
      margin-bottom: 3rem;

      @media screen and (max-width: 730px) {
        font-size: 2rem;
      }
    }

    &-Category {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-Wrapper {
        display: flex;
        align-items: center;

        &-Name {
          background-color: $vvv-light-gray;
          font-size: 1rem;
          font-weight: 600;
          padding: 0.3rem 1rem;
          border-radius: 2rem;
          color: $light-black;
          margin-right: 0.6rem;
        }

        &-Info {
          font-size: 1.05rem;
          font-weight: 400;
          color: $light-gray;

          & > span {
            color: $black;
            font-weight: 600;
          }
        }
      }

      &-Like {
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 3rem;
        border: 1.8px solid $v-light-gray;
        background-color: $white;
        padding: 0.32rem 0.75rem;
        transition: all ease 0.1s;
        cursor: pointer;

        @media screen and (max-width: 1025px) {
          display: flex;
        }

        &-Active,
        &-Active:hover {
          border-color: $light-black !important;
        }

        &:hover {
          border-color: $light-gray;
        }

        &:hover > &-Button {
          & > path {
            fill: $light-gray;
          }

          &-Active {
            & > path {
              fill: $light-black;
            }
          }
        }

        &:hover > &-Count {
          color: $light-gray;

          &-Active {
            color: $light-black;
          }
        }

        &-Button {
          width: 1rem;
          height: 1rem;
          margin-right: 0.6rem;
          transition: all ease 0.1s;
          transform: translateY(0.135rem);

          & > path {
            transition: all ease 0.1s;
            fill: $v-light-gray;
          }

          &-Active {
            animation: active ease 0.8s;

            & > path {
              fill: $black;
            }
          }
        }

        &-Count {
          color: $v-light-gray;
          font-size: 0.8rem;
          font-weight: 600;
          font-family: MalgunGothic;

          &-Active {
            color: $black;
          }
        }
      }
    }
  }

  &-Like {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
  }

  &-Thumbnail {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
  }
}
