.header-buttons {
  display: flex;
  align-items: center;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 0.3rem;
    border-radius: 50%;
    padding: 0.4rem;
    transition: background-color ease 0.1s;
    cursor: pointer;

    &:hover {
      background-color: var(--theme-background-scale-1);
    }

    & > svg {
      font-size: 1.4rem;
      color: var(--theme-text-scale-0);
    }
  }
}
