.about-policy {
  width: 100%;
  color: var(--theme-main);

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding-inline-start: 40px;
  }

  li {
    font-size: 1.125rem;
  }

  h2 {
    margin-block-start: 1.5em;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    font-size: 1.125rem;
    line-height: 1.7;
  }
}
