.input-title {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 2.225rem;
  color: var(--theme-main);
  font-family: inherit;
  resize: none;

  &::placeholder {
    font-weight: bold;
    font-size: 2.225rem;
    color: var(--theme-text-scale-4);
    font-family: inherit;
  }
}

.input-line {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: var(--theme-border);
}
