@import "../../util/color.scss";

.Write {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: MalgunGothic;
  animation: fadeIn ease 0.5s;

  @keyframes identifier {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  ::selection {
    background-color: $vvv-light-gray;
  }

  &-Container {
    width: 50%;
    min-height: 100%;
    background-color: $vvvvv-light-gray;
    padding: 2rem 2.5rem;

    @media screen and (max-width: 840px) {
      width: 100%;
    }

    &-Label {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;
      color: $semi-light-gray;

      & > svg {
        margin-right: 0.4rem;
      }
    }

    &-Title {
      resize: none;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      margin-top: 2rem;
      font-family: inherit;
      font-size: 2.2rem;
      font-weight: 600;
      color: $black;
      line-height: 1.45;
      overflow-y: hidden;

      &::placeholder {
        font-size: 2.2rem;
        font-weight: 600;
        color: $v-light-gray;
      }
    }

    &-Description {
      resize: none;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-family: inherit;
      font-size: 1.5rem;
      color: $black;
      margin: 1rem 0;
      line-height: 1.5;
      overflow-y: hidden;

      &::placeholder {
        font-size: 1.5rem;
        color: $vv-light-gray;
      }
    }

    &-Input {
      width: 100%;
      display: flex;

      & > label {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        color: $v-light-gray;
        font-size: 1rem;
        line-height: normal;
        vertical-align: middle;
        background-color: $white;
        cursor: pointer;
        border: 1px solid $vvv-light-gray;
        border-radius: 0.2rem;
        margin-right: 0.6rem;
        transition: all ease 0.1s;

        & > svg {
          margin-right: 0.4rem;
        }

        &:hover {
          background-color: $vvvvv-light-gray;
        }
      }

      & > input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      &-Name {
        display: flex;
        align-items: center;
        background-color: $white;
        color: $v-light-gray;
        border: 1px solid $vvv-light-gray;
        border-radius: 0.2rem;
        padding: 0.5rem 0.75rem;
        margin-right: 0.6rem;

        & > svg {
          margin-left: 0.3rem;
          font-size: 1.3rem;
          cursor: pointer;
          transition: all ease 0.1s;

          &:hover {
            color: $vv-light-gray;
          }
        }
      }

      &-Category {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: $white;
        color: $v-light-gray;
        border: 1px solid $vvv-light-gray;
        border-radius: 0.2rem;
        padding: 0.5rem 0.75rem;
        transition: all ease 0.1s;
        position: relative;

        &:hover {
          background-color: $vvvvv-light-gray;
        }

        & > svg {
          width: 0.7rem;
          margin-left: 0.3rem;
        }
      }
    }

    &-Content {
      resize: none;
      width: 100%;
      min-height: 70%;
      border: none;
      outline: none;
      background-color: transparent;
      font-family: inherit;
      font-size: 1.125rem;
      color: $black;
      margin-top: 2.5rem;
      line-height: 1.5;
      overflow-y: hidden;
      tab-size: 4;

      &::placeholder {
        font-size: 1.125rem;
        color: $vv-light-gray;
      }
    }
  }

  &-Preview {
    width: 50%;
    height: 100%;
    padding: 2rem 2.5rem;
    overflow-x: hidden;

    @media screen and (max-width: 840px) {
      display: none;
    }

    &-Label {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;
      color: $semi-light-gray;

      & > svg {
        margin-right: 0.4rem;
      }
    }

    &-Title {
      width: 100%;
      margin-top: 2rem;
      font-size: 2.2rem;
      font-weight: 600;
      color: $black;
      line-height: 1.5;
      word-break: break-all;
    }

    &-Description {
      width: 100%;
      font-size: 1.5rem;
      margin: 1rem 0;
      color: $black;
      line-height: 1.5;
      word-break: break-all;
    }

    &-Thumbnail {
      margin: 2rem 0;
      position: relative;
      padding-top: 35%;
      max-width: 65%;

      &-Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
        margin-bottom: 0.4rem;
        position: absolute;
        top: 0;
      }
    }

    &-Content {
      margin-top: 3.5rem;
    }
  }

  &-Control {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    bottom: 2rem;
    right: 2rem;

    &-Confirm {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.6rem;
      padding: 0.8rem;
      background-color: $black;
      color: $white;
      font-weight: 600;
      font-size: 1.4rem;
      transition: all ease 0.2s;
      margin-right: 1rem;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: $light-black;
      }
    }

    &-Save {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.6rem;
      padding: 0.8rem;
      background-color: $gray;
      color: $white;
      font-weight: 600;
      font-size: 1.4rem;
      transition: all ease 0.2s;
      margin-right: 1rem;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: $light-gray;
      }
    }

    &-Cancel {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.6rem;
      padding: 0.8rem;
      background-color: $v-semi-light-gray;
      color: $light-gray;
      font-weight: 600;
      font-size: 1.4rem;
      transition: all ease 0.2s;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: $vvvv-light-gray;
      }
    }
  }
}
