.members {
  display: flex;
  justify-content: center;
  width: 100%;

  &-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 8rem 0 4rem 0;
    padding: 0 1rem;
    animation: memberFadeIn ease 0.5s;

    @keyframes memberFadeIn {
      0% {
        transform: translateY(2rem);
        opacity: 0;
      }

      100% {
        transform: translateY(0rem);
        opacity: 1;
      }
    }

    &-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      &-title {
        font-size: 3rem;
        font-weight: bold;
        color: var(--theme-text-scale-1);
        margin-bottom: 0.7rem;

        @media screen and (max-width: 600px) {
          font-size: 2.4rem;
        }
      }

      &-subtitle {
        font-size: 2.1rem;
        font-weight: normal;
        color: var(--theme-text-scale-1);

        & > span {
          font-weight: bold;
        }

        @media screen and (max-width: 600px) {
          font-size: 1.6rem;
        }
      }
    }

    &-admin {
      margin-top: 6rem;
      margin-bottom: 3rem;

      &-title {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--theme-text-scale-1);

        & > svg {
          margin-right: 0.5rem;
        }
      }
    }

    &-list {
      &-title {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--theme-text-scale-1);

        & > svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
