.Main-Posts {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0%;

  &-List {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 1rem;
  }
}
