.Search {
  display: flex;
  justify-content: center;
  padding: 8rem 0 4rem 0;
  min-height: 100vh;

  &-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    padding: 0 1rem;

    &-Wrapper {
      width: 100%;
      max-width: 860px;

      &-Input {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid var(--theme-background-scale-0);
        padding: 1.1rem 1.2rem;
        margin-bottom: 1rem;
        cursor: text;
        transition: border ease 0.2s;

        &:focus-within {
          border: 1px solid var(--theme-text-scale-1);

          & > svg {
            color: var(--theme-text-scale-1);
          }
        }

        & > svg {
          font-size: 1.5rem;
          color: var(--theme-text-scale-4);
          margin-right: 0.8rem;
          transition: color ease 0.2s;
        }

        & > input {
          width: 100%;
          outline: none;
          border: none;
          font-size: 1.4rem;
          font-family: inherit;
          font-weight: normal;
          background-color: var(--theme-main-background);
          color: var(--theme-main);

          &::placeholder {
            color: var(--theme-background-scale-0);
            font-weight: normal;
          }
        }
      }

      &-Count {
        color: var(--theme-text-scale-3);
        font-size: 1.2rem;
        font-weight: normal;

        & > span {
          color: var(--theme-text-scale-1);
          font-weight: bold;
        }
      }
    }

    &-Posts {
      width: 100%;
      margin-top: 6rem;
    }
  }
}
