@import "../../util/color.scss";

.Search {
  display: flex;
  justify-content: center;
  padding: 8rem 0 4rem 0;

  &-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
    padding: 0 1rem;

    &-Wrapper {
      width: 100%;
      max-width: 960px;

      &-Input {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid $vv-light-gray;
        padding: 0.9rem 1.2rem;
        margin-bottom: 1rem;
        cursor: text;

        & > svg {
          font-size: 1.4rem;
          color: $v-light-gray;
          margin-right: 0.8rem;
        }

        & > input {
          width: 100%;
          outline: none;
          border: none;
          font-size: 1.3rem;
          font-family: inherit;

          &::placeholder {
            color: $vv-light-gray;
            font-weight: 500;
          }
        }
      }

      &-Count {
        color: $light-gray;
        font-size: 1.2rem;

        & > span {
          color: $light-black;
          font-weight: 600;
        }
      }
    }

    &-Posts {
      width: 100%;
      margin-top: 4rem;
    }
  }
}
