.header-profile {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 0.3rem;

  &-user {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-avatar {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      border: 1px solid var(--theme-background-scale-4);
    }
  }

  &-divide {
    width: 1px;
    margin: 0 1.3rem;
    height: 0.8rem;
    background-color: var(--theme-background-scale-0);
  }

  &-write {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.33rem 0.9rem;
    background-color: var(--theme-main);
    font-size: 0.925rem;
    font-weight: bold;
    color: var(--theme-main-background);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: none;
    transition: all ease-in-out 0.2s;
    text-decoration: none;

    &:hover {
      background-color: var(--theme-text-scale-1);
    }

    &:active {
      box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.4);
    }
  }
}
