@import "../../../util/lib.scss";

.Post-List {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;

  @media screen and (max-width: 780px) {
    flex-direction: column;
  }

  &-Previous {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 780px) {
      flex-direction: column;
      margin-bottom: 1rem;
    }

    &-Container {
      margin-right: 0.5rem;
      width: 100%;
      max-width: 24rem;
      background-color: var(--theme-background-scale-2);
      padding: 1rem 1.5rem;
      border-radius: 0.2rem;
      text-decoration: none;
      transition: all ease 0.1s;
      display: flex;
      align-items: center;

      &:hover {
        background-color: var(--theme-background-scale-1);
        transform: scale(1.03, 1.03);

        & > svg {
          animation: scale ease 0.7s infinite;
          @keyframes scale {
            0% {
              transform: translateX(0.3rem);
            }

            50% {
              transform: translateX(0rem);
            }

            100% {
              transform: translateX(0.3rem);
            }
          }
        }
      }

      & > svg {
        font-size: 1.6rem;
      }

      &-Content {
        max-width: 17rem;
        margin-left: 1.4rem;

        &-Name {
          color: var(--theme-text-scale-1);
          font-size: 0.8rem;
        }

        &-Title {
          color: var(--theme-main);
          font-weight: bold;
          font-size: 1.125rem;
          margin-top: 0.4rem;
          @include ellipsis(1);
        }
      }
    }
  }

  &-Next {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: all ease 0.1s;

    &-Container {
      margin-left: 0.5rem;
      width: 100%;
      max-width: 24rem;
      background-color: var(--theme-background-scale-2);
      padding: 1rem 1.5rem;
      border-radius: 0.2rem;
      text-decoration: none;
      transition: all ease 0.1s;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &:hover {
        background-color: var(--theme-background-scale-1);
        transform: scale(1.03, 1.03);

        & > svg {
          animation: scale ease 0.7s infinite;
          @keyframes scale {
            0% {
              transform: translateX(-0.3rem);
            }

            50% {
              transform: translateX(0rem);
            }

            100% {
              transform: translateX(-0.3rem);
            }
          }
        }
      }

      & > svg {
        font-size: 1.6rem;
      }

      &-Content {
        max-width: 17rem;
        margin-right: 1.4rem;
        text-align: right;

        &-Name {
          color: var(--theme-text-scale-1);
          font-size: 0.8rem;
        }

        &-Title {
          color: var(--theme-main);
          font-weight: bold;
          font-size: 1.125rem;
          margin-top: 0.4rem;
          @include ellipsis(1);
        }
      }
    }
  }
}
