.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;

  &-overlay {
    width: 100%;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-handle-overlay);
  }

  &-box {
    position: relative;
    background-color: var(--theme-main-background);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    overflow: hidden;
  }
}

.overlay-active {
  animation: modalFadeIn ease 0.5s;

  @keyframes modalFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.overlay-leave {
  animation: modalFadeOut ease 0.5s;

  @keyframes modalFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.box-active {
  animation: modalUp ease 0.5s;
  transform-origin: bottom;

  @keyframes modalUp {
    0% {
      transform: translateY(100rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.box-leave {
  animation: modalDown ease 0.5s;

  @keyframes modalDown {
    0% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(100rem);
    }
  }
}
