.Modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;

  &-Overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);

    &-Active {
      animation: fadeIn ease 0.5s;

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    &-Leave {
      animation: fadeOut ease 0.5s;

      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  &-Box {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    overflow: hidden;

    &-Active {
      animation: risingUp ease 0.5s;
      transform-origin: bottom;

      @keyframes risingUp {
        0% {
          transform: scale(1, 1) translateY(100rem);
        }
        100% {
          transform: scale(1, 1) translateY(0);
        }
      }
    }

    &-Leave {
      animation: risingDown ease 0.5s;

      @keyframes risingDown {
        0% {
          transform: scale(1, 1) translateY(0rem);
        }
        100% {
          transform: scale(1, 1) translateY(100rem);
        }
      }
    }
  }
}
