@import "../../../../util/color.scss";

.Main-Post-Item-Loading {
  width: 26rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform ease 0.2s;

  span {
    background-color: $load-dark-gray;
    animation: colorChange ease 1s infinite;
    @keyframes colorChange {
      0% {
        background-color: $load-dark-gray;
      }

      50% {
        background-color: $load-light-gray;
      }

      100% {
        background-color: $load-dark-gray;
      }
    }
  }

  @media screen and (max-width: 1360px) {
    width: calc(50% - 2rem);
  }

  @media screen and (max-width: 730px) {
    width: 100%;
  }

  &:hover {
    transform: translateY(-1rem);
  }

  &-Thumbnail {
    position: relative;
    padding-top: 60%;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.4rem;
      margin-bottom: 0.4rem;
      position: absolute;
      top: 0;
    }
  }

  &-Content {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;

    &-Category {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      & > span {
        border-radius: 0.2rem;
        width: 2.6rem;
        height: 0.8rem;
        margin-right: 0.5rem;
      }
    }

    &-Title {
      display: flex;
      align-items: center;
      margin-bottom: 0.6rem;

      & > span {
        border-radius: 0.3rem;
        width: 5rem;
        height: 1.4rem;
        margin-right: 0.5rem;
      }
    }

    &-Description {
      display: flex;
      align-items: center;

      & > span {
        border-radius: 0.3rem;
        width: 4.2rem;
        height: 1rem;
        margin-right: 0.5rem;
      }
    }
  }

  &-Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.6rem;

    &-Profile {
      display: flex;
      align-items: center;

      &-Avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.8rem;
      }

      &-Name {
        display: flex;
        align-items: center;

        & > span {
          border-radius: 0.3rem;
          width: 4.3rem;
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
