.handle-create-content {
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  padding: 1rem 0 1.5rem;
  overflow-y: auto;

  &-textarea {
    padding: 0 2rem 1rem;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: normal;
    font-size: 1.125rem;
    font-family: inherit;
    line-height: 1.7;
    color: var(--theme-text-scale-0);

    &::placeholder {
      font-family: inherit;
      font-weight: normal;
      font-size: 1.125rem;
      color: var(--theme-text-scale-4);
      font-style: italic;
    }
  }
}
