@import "../../../../util/color.scss";

.Header-Option {
  top: 3.8rem;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.15);
  background: $white;
  width: 12rem;
  height: auto;
  position: absolute;
  border-radius: 0.2rem;

  & > div {
    width: 100%;
    padding: 0.6rem;
    cursor: pointer;
    &:hover {
      background-color: $vvvv-light-gray;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
      color: $black;
    }
  }
}
